<?page title="new page title" contentType="text/html;charset=UTF-8"?>
<zk>
	<grid apply="org.zkoss.bind.BindComposer" viewModel="@id('vm') @init('truman.testbed.TestVM')">
		<rows children="@load(vm.listOfLists)">
			<template name="children" var="item">
				<row children="@load(item)" tooltiptext="${itemStatus.index }">
					<template name="children" var="iitem">
						<cell>
							<checkbox label="@load(iitem.name)" tooltiptext="${iitemStatus.index }"
								checked="@bind(iitem.chked)" onCheck="@command('checkCodes')"/>
						</cell>
					</template>
				</row>
			</template>
		</rows>
	</grid>
	Checked Codes: <label value="@load(vm.checkedCodes)"/> 
</zk>