<?page title="K Index" contentType="text/html;charset=UTF-8"?>
<zk>
	<vlayout apply="org.zkoss.bind.BindComposer"
		viewModel="@id('vm')@init('truman.testbed.KIndexVM')">
		<groupbox>
			<grid>
				<columns>
					<column hflex="1" />
					<column hflex="2" />
					<column hflex="1" />
					<column hflex="2" />
					<column hflex="1" />
					<column hflex="2" />
				</columns>
				<rows>
					<row>
						<cell>股票代碼：</cell>
						<cell>
							<combobox model="@load(vm.stocks.stockList)"
								value="@bind(vm.selectedCode)">
								<template name="model">
									<comboitem label="${each}" />
								</template>
							</combobox>
						</cell>
						<cell>資料日期：</cell>
						<cell><datebox value="@bind(vm.dataDate)"/></cell>
						<cell colspan="2"><hbox>K:<doublebox value="@bind(vm.kvalue)"/>D:<doublebox value="@bind(vm.dvalue)"/></hbox></cell>
					</row>
					<row>
						<cell>
							<button label="取得資料"
								onClick="@command('query')" />
						</cell>
					</row>
				</rows>
			</grid>
		</groupbox>
		<listbox model="@load(vm.kdlist)" mold="paging" pageSize="15">
			<listhead>
				<listheader label="日期" />
				<listheader label="收盤價" />
				<listheader label="最高價" />
				<listheader label="最低價" />
				<listheader label="K" />
				<listheader label="D" />
			</listhead>
			<template name="model" var="s">
				<listitem>
					<listcell label="@load(s.date)" />
					<listcell label="@load(s.close)"
						style="@load(s.kvalue>85 ? 'color:red':'')" />
					<listcell label="@load(s.high)" />
					<listcell label="@load(s.low)" />
					<listcell label="@load(s.kvalue)" />
					<listcell label="@load(s.dvalue)" />
				</listitem>
			</template>
		</listbox>
	</vlayout>
</zk>